div.title {
    text-align: center;
    font-weight: bold;
    font-size: 30pt;
    counter-reset: section;
}

div.subtitle {
    text-align: center;
    font-size: 16pt;
    margin-bottom: 16pt;
}

div.section {
    font-size: 26pt;
    font-variant: small-caps;
    counter-reset: subsection;
    counter-increment: section;
}
div.section:before {
    content: counter(section) ".\0000a0\0000a0";
}

div.subsection {
    font-size: 20pt;
    font-variant: small-caps;
    counter-increment: subsection;
}

div.subsection:before {
    content: counter(section) "." counter(subsection) ".\0000a0\0000a0";
}

span.warning {
    color: #ae2527
}

p.code {
    font-family: monospace;
    padding: 5pt 5pt 5pt 25pt;
    background-color: #DDDDDD
}